<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Twitter Push Bundle">
            <directory>tests/Mcfedr/TwitterPushBundle/</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="tests/" />
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Mcfedr/TwitterPushBundle/</directory>
        </whitelist>
    </filter>
</phpunit>
